#app {
    visibility: hidden;
}

#app.visible {
    visibility: visible;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-family: "Segoe UI", "Calibri", sans-serif;
}

h1, h2 {
    font-weight: normal;
    padding: 0 .5em;
}

h1 {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #012;
}

.light {
    opacity: 0.5;
}

.smaller {
    font-size: 0.8em;
}

.error-message {
    padding: 2em 0;
    text-align: center;
}

.error-message p {
    color: red;
}

.kiosklist {
    display: flex;
    flex-wrap: wrap;
}

.kiosk {
    flex: 0 0 24%;
    margin: .5em;
    border: solid 1px #235;
    background-color: #12283A;
}

.kiosk h1 {
    background-color: #12283A;
}

.kiosk:last-child {
    flex-grow: 0;
}

.consumables,
.statuses {
    display: flex;
    text-align: center;
}

.status,
.consume {
    flex: 1 1 0;
    margin: .5em;
}

.consume .border {
    border: solid 1px #346;
}

.consumetitle {
    background-color: #012;
    padding: 0.2em;
}

.consumedata {
    font-size: 1.2em;
    padding: 0.2em;
}

.refilltime {
    font-size: 0.8em;
    color: #6e8591;
    height: 1.5em;
}

.uptotime {
    font-size: 0.8em;
    color: #6e8591;
}

.status {
    padding: 0.5em;
}

.status.working {
    background-color: #010;
    border: solid 1px #030;
}

.status.error {
    background-color: darkred;
    border: solid 1px red;
}

.consume.danger .border {
    border: solid 1px red;
}

.consume.danger .consumetitle {
    background-color: #900
}

.consume.danger .consumedata {
    background-color: #400;
}

.consume.warning .border {
    border: solid 1px orange;
}

.consume.warning .consumetitle {
    background-color: #960
}

.consume.warning .consumedata {
    background-color: #430;
}

/* overlay */
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Display by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 991;
}

.overlay__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
